/* ==========================================================================
Section Styles
========================================================================== */

//Sections
.section {
    &.section-light-grey {
        background-color: $light-grey;
    }
    &.section-feature-grey {
        background-color: $section-grey;
    }
    &.section-primary {
        background-color: $primary;
    }

    &.section-secondary {
        background-color: $secondary;
    }
    &.section-tertiary{
        background-color: $tertiary;
    }
    &.section-quad{
        background-color: $quad;
        color: white;
        .subtitle {
            &.is-muted {
                color: $muted-grey;
            }
        }

    }


    &.section-half {
        height: 75vh !important;
    }
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;
    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}
/*

$fade-grey: #ededed;
$light-grey: #EFF4F7;
$title-grey: #A9ABAC;
$blue-grey: #444F60;
$muted-grey: #999;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$cream: #f7eccd;
*/

//Titles
.title-wrapper {
    max-width: 500px;
    margin: 0 auto;
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;

    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}


.text-wrapper {
    max-width: 800px;
    margin: 0 auto;
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;
    }
    .subtitle {
        line-height: 1.8;
    }
}

.dark-bg-text {
    .title, .subtitle {
        color: $white;
    }
    .subtitle {
        color: #f7f7f7;
    }
}


//Divider
.divider {
    height: 3px;
    border-radius: 50px;
    background: $secondary;
    width: 60px;
    &.is-centered {
        margin: 0 auto;
    }

    &.light {
        background: $light-grey;
    }
}

//Wrapper
.content-wrapper {
    padding: 60px 0;
}


//Pulled image
img.pushed-image {
    margin-top: -5vh;
}

//Icon box
.media.icon-box {
    border-top: none !important;
    .media-content .content p {
        span {
            display: block;
        }
        .icon-box-title {
            color: $blue-grey;
            font-size: 1.2rem;
            font-weight: 600;
        }
        .icon-box-text {
            color: $title-grey;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}


.anchor { padding-top: 90px; }

.is-128-height {
    height: 128px;
}

.small-logos {
    max-height: 75px;
    width: auto;
}


.other-contributors {
    font-size: 28px;
}

.guac-does {
    padding-bottom: 50px;
}

img.guac-does-img {
    width: 128px ;
}
