{{- $sectionUniid := .Site.Params.sectionUniid }}
{{- $title         := index $sectionUniid "title" }}
{{- $subtitle      := index $sectionUniid "subtitle" }}
{{- $image         := index $sectionUniid "image" }}
{{- $buttonText    := index $sectionUniid "buttontext" }}
{{- $buttonLink    := index $sectionUniid "buttonlink" }}
<section id="unified-identity" class="section section-secondary is-medium anchor">
  <div class="container">
    <div class="columns"><div class="column is-three-quarters is-text-left">
  
      <div class="title-wrapper has-text-left">
        <h2 class="title is-2 is-spaced">{{ $title }}</h2>
        <h3 class="is-5">{{ $subtitle }}</h3>
      </div>
    </div></div>
    <div class="columns"><div class="column is-offset-3">
    <p class="has-text-centered mt-20 has-text-right">
      <a class="button cta is-large rounded tertiary-btn raised" href="{{ $buttonLink }}">
        {{ $buttonText }}
      </a>

    </p>
    </div></div>
    </div>
  </div>
</section>
