{{- $sectionUniid := .Site.Params.sectionBeta }}
{{- $title         := index $sectionUniid "title" }}
{{- $subtitle      := index $sectionUniid "subtitle" }}
{{- $image         := index $sectionUniid "image" }}
{{- $buttonText    := index $sectionUniid "buttontext" }}
{{- $buttonLink    := index $sectionUniid "buttonlink" }}
<section id="beta" class="section section-primary is-medium anchor">
  <div class="container">
    <div class="columns"><div class="column is-full is-centered">
      <div class="text-wrapper has-text-centered">
        <h2 class="title is-1 is-spaced">{{ $title }}</h2>
        <h3 class="subtitle">{{ $subtitle }}</h3>

        <p class="has-text-centered has-text-center ">
      <a class="button cta is-large rounded tertiary-btn raised" href="{{ $buttonLink }}">
        {{ $buttonText }}
      </a>

    </p>

      </div>
    </div>
    </div>
  </div>
</section>
