{{- $sectionUniid := .Site.Params.sectionVision }}
{{- $title         := index $sectionUniid "title" }}
{{- $subtitle      := index $sectionUniid "subtitle" }}
{{- $image         := index $sectionUniid "image" }}
{{- $buttonText    := index $sectionUniid "buttontext" }}
{{- $buttonLink    := index $sectionUniid "buttonlink" }}
<section id="beta" class="section section-secondary is-medium anchor">
  <div class="container">
    <div class="columns"><div class="column is-offset-1">
      <div class="text-wrapper has-text-right">
        <h2 class="title is-1 is-spaced">{{ $title }}</h2>
        <h3 class="subtitle">{{ $subtitle }}</h3>
      </div>
    </div></div>
  </div>
</section>
